  form {
    padding: 1em;
    margin-top: 2rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  legend {
    margin-left: 240px;
    font-weight: bold;
  }

  h1{
      color: lime;
      font-family: Arial;
  }
  h2{
      color: red;
      font-family: sans-serif;
  }
  .p1{
      color: yellow;
      font-family: 'Times New Roman';
      font-weight: bold;

  }
  .p2{
      color: green;
      font-family: Georgia;
      font-style: italic;
  }

