  form {
    padding: 1em;
    margin-top: 2rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  legend {
    margin-left: 240px;
    font-weight: bold;
  }
